body {mask-image: image(imagenes la voz/barco.jpg)  ; margin: 0% 30% 0% 20%}
.titulo 
    {color:rgb(0, 0, 0);
    font-size:50;
    background-color:white;
    text-align: left;
    font-family: candara; margin: 100 0 0 0}

.cita1 {color:black;
font-size:12; font-family:arial}
.parrafo1 {background: coral}